

.main {
    align-items: center;
    flex-direction: column;
    justify-content: center;
    display: flex;
    /* text-align: center; */
    height: 80vh;
}

.main > input {
    margin: 1.5rem;
    width: 80%;
    /* margin-left: 30rem; */
}

.saveBtn {
    /* From uiverse.io by @adamgiebl */
    border: none;
    display: block;
    position: relative;
    padding: 0.7em 2.4em;
    font-size: 18px;
    background: white;
    cursor: pointer;
    user-select: none;
    overflow: hidden;
    color: royalblue;
    z-index: 1;
    font-family: inherit;
    font-weight: 500;
   }
   
   button span {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: transparent;
    z-index: -1;
    border: 4px solid royalblue;
   }
   
   button span::before {
    content: "";
    display: block;
    position: absolute;
    width: 8%;
    height: 500%;
    background: var(--lightgray);
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) rotate(-60deg);
    transition: all 0.3s;
   }
   
   button:hover span::before {
    transform: translate(-50%, -50%) rotate(-90deg);
    width: 100%;
    background: #2751cd;
   }
   
   button:hover {
    color: white;
   }
   
   button:active span::before {
    background: #2751cd;
   
}

.albumButton {
    float: right;
    background-color: rgb(40, 153, 178);
    color: wheat;
    border: 2px solid white;
}



/* ////////////////////////////     delete button  //////////////////////////// */
/* From uiverse.io */
.deleteBtn {
    border: none;
    /* display: block; */
    position: relative;
    padding: 0.7em 2.4em;
    font-size: 18px;
    background: white;
    cursor: pointer;
    user-select: none;
    overflow: hidden;
    color: red;
    z-index: 1;
    font-family: inherit;
    font-weight: 500;

}

.deleteBtn:hover span::before {
    transform: translate(-50%, -50%) rotate(-90deg);
    width: 100%;
    background: red;
   }
   
   .deleteBtn:hover {
    color: white;
   }
   
   .deleteBtn:active span::before {
    background: red;
   }